<!DOCTYPE html>
<html>
<title>Stock Page </title>
<head>
<link rel="stylesheet" type="text/css" href="./views/main.css">
<div class="main_title">
<H1>External Resources</H1>
</div>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00ff55;
}


li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
</style>
</head>
<body>


<ul>
  <li style="float:left"><a href="/main.html">Home</a></li>
  <li style="float:left"><a href="/page2.html">Stock List</a></li>
  <li style="float:left"><a href="/page3.html">Lookup</a></li>
  <li style="float:left"><a class="active" href="/page4.html">References</a></li>
</ul>

<ul class="my_list">
	<li class="my_list"><a class="my_link" href="https://finance.yahoo.com/">Click here to visit Yahoo Finance</a></li>
	<li class="my_list"><a class="my_link" href="https://www.investopedia.com/">Click here to visit Investopedia</a></li>
	<li class="my_list"><a class="my_link" href="https://seekingalpha.com/">Click here to visit Seeking Alpha</a></li>
</ul>


<p1 style="text-align:center"><br></p1>
<iframe width="1000" height="700"
src="https://youtube.com/embed/rlZRtQkfK04">
</iframe>
</p1>

<p1 style="text-align:center"><br></p1>
<iframe width="1000" height="700"
src="https://youtube.com/embed/iX7fOx5G40A">
</iframe>
</p1>






</body>
</html>
