<!DOCTYPE html>
<html>
<title>Stock List Page </title>
<head>
<link rel="stylesheet" type="text/css" href="./views/main.css">
<div class="main_title">
<H1>List of Stocks</H1>
</div>
<style>
#test {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00ff55;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
table {
	background-color: white;
}
</style>
</head>
<body>



<ul id="test">
  <li><a href="/main.html">Home</a></li>
  <li><a class="active" href="/page2.html">Stock List</a></li>
  <li><a href="/page3.html">Lookup</a></li>
  <li><a href="/page4.html">References</a></li>
</ul>




<table id="mytable" class="scroll_box">
</table>



<script src="./table.js"></script>
<script>

</script>



</body>
</html>












